<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
<div th:switch="${heroes}">
    <h2 th:case="null">No hero yet!</h2>
    <div th:case="*">
        <h2 style="text-align: center">Heroes:</h2>
        <p><a href="/create">Add a new hero</a></p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Eye Color</th>
                <th>Race</th>
                <th>Hair Color</th>
                <th>Height</th>
                <th>Publisher</th>
                <th>Skin</th>
                <th>Alignment</th>
                <th>Weight</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hero : ${heroes}">
                <td th:text="${hero.name}"></td>
                <td th:text="${hero.movies}"></td>
                <td th:text="${hero.eyeColor}"></td>
                <td th:text="${hero.race}"></td>
                <td th:text="${hero.hairColor}"></td>
                <td th:text="${hero.height}"></td>
                <td th:text="${hero.publisher}"></td>
                <td th:text="${hero.skinColor}"></td>
                <td th:text="${hero.alignment}"></td>
                <td th:text="${hero.weight}"></td>
                <td th:text="${hero.gender}"></td>


                <td><a th:href="@{/edit/{id}(id=${hero.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${hero.id})}">Delete</a></td>
                <td><a th:href="@{/view/{id}(id=${hero.id})}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>